/* Style for the image above the footer */
.footer-top-image {
  display: flex;
  justify-content: center;
}

.footer-top-image img {
  max-width: var(--width-body-section);
  height: auto;
  object-fit: contain;
}

/*Footer styles*/
.site-footer {
  background-color: transparent;
  padding:0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: var(--width-body-section);
  
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);/*Change with bg image later*/
  padding: 20px;
  box-shadow: 
    5px 0 10px -5px rgba(0, 0, 0, 0.1),
    -5px 0 10px -5px rgba(0, 0, 0, 0.1),
    0 5px 10px -5px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-left, .footer-right {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-bottom img {
  height: 30px;
  margin: 5px;
}

/* target footer when it's within the same page as employee-table-container */
.body-section:has(.employee-table-container) ~ .site-footer {
  min-width: var(--min-footer-width);
}


/* Desktop styles */
@media screen and (min-width: 771px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-left, .footer-right {
    margin-bottom: 0;
  }

  .footer-bottom {
    flex-wrap: nowrap;
  }

  .footer-bottom img {
    margin: 0 10px;
  }
}